@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-image: url('./img/deepmind.jpg');
    font-family: 'Poppins';
    padding: 5rem;
    padding-top: 2rem;
}

.prio {
    border: solid black 1px;
    border-radius: 10px;
    height: 12px;
    width: 12px;
}

.high {
    background-color: red;
}

.medium {
    background-color: yellow;
}

.low {
    background-color: green;
}

.none {
    background-color: blue;
}

.invisible {
    visibility: hidden;
}

#top-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#menu {
    align-items: center;
    background-color: #F4FDFF;
    border-radius: 15px;
    box-shadow:
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 10px;
    height: 50px;
    justify-content: start;
    padding: 15px;
    width: max-content;
}

#menu * {
    margin-bottom: 0;
    margin-top: 0;
}

#menu h1 {
    border-right: solid #dde1e2 1px;
    font-size: 28px;
    padding-left: 10px;
    padding-right: 20px;
}

#menu a {
    border-right: solid #dde1e2 1px;
    color: #585858;
    cursor: pointer;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 20px;
}

#menu a:hover {
    color: black;
}

#add-list {
    color: #585858;
    cursor: pointer;
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
}

#add-list:hover {
    color: black;
}

#btn-container {
    align-items: center;
    background-color: #F4FDFF;
    border-radius: 15px;
    box-shadow:
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    height: 50px;
    justify-content: space-around;
    padding: 15px;
    width: 120px;
}

#btn-container button {
    background-color: #e7e7e7;
    border: solid black 1px;
    border-radius: 100px;
    color: black;
    cursor: pointer;
    font-size: 18px;
    height: 45px;
    width: 45px;
}

#btn-container button:hover {
    background-color: #a2a2a2;
}

#content {
    align-items: start;
    display: flex;
    gap: 2rem;
    height: 600px;
    overflow: hidden;
    padding-top: 2rem;
}

#settings-page {
    align-items: center;
    background-color: #F4FDFF;
    border-radius: 15px;
    box-shadow:
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    height: 400px;
    justify-content: center;
    width: 500px;
}

.column {
    background-color: #F4FDFF;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow:
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    flex: 0 0 auto;
    padding: 2rem;
    width: 400px;
}

.column h2 {
    font-size: 24px;
}

.add-list-item {
    border: solid black 1px;
    border-radius: 5px;
    color: #585858;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    margin-top: 10px;
    width: 30px;
}

.add-list-item:hover {
    color: black;
}

.todo {
    border: solid #dde1e2 1px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}

.todo:hover {
    background-color: #dde1e2;
    border-color: black;
}

.todo * {
    margin-bottom: 0;
    margin-top: 0;
}

.todo-top {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 10px;
}

.todo-desc {
    margin-left: 10px;
    margin-right: 10px;
}

.display-none {
    display: none;
}

dialog {
    border: none;
    border-radius: 10px;
    height: 320px;
    padding: 25px;
    width: 300px;
}

dialog::backdrop {
    backdrop-filter: blur(10px);
}

form * {
    display: block;
    margin: 5px;
}

form input {
    border: solid #dde1e2 2px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    height: 24px;
    margin-top: 10px;
    padding: 2px;
}

form input:focus {
    border: solid black 2px;
    outline: none;
}

form input[type="submit"] {
    height: 35px;
} 

form label {
    display: inline-block;
    font-size: 20px;
}

form select {
    display: inline-block;
    font-size: 18px;
}