@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-image: url('./img/deepmind.jpg');
    font-family: 'Poppins';
}

dialog button {
    background-color: #a2a2a2;
    border: none;
    border-radius: 15px;
    cursor:pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 5px;
    width: 90px;
}

dialog button:hover {
    background-color: #585858;
}

.prio {
    border: solid black 1px;
    border-radius: 10px;
    height: 12px;
    width: 12px;
}

.high {
    background-color: red;
}

.medium {
    background-color: yellow;
}

.low {
    background-color: green;
}

.none {
    background-color: blue;
}

.invisible {
    visibility: hidden;
}

#top-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 435px;
}

#menu {
    align-items: center;
    background-color: #F4FDFF;
    border-radius: 15px;
    box-shadow:
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 10px;
    height: 50px;
    justify-content: start;
    padding: 15px;
    width: max-content;
}

#menu * {
    margin-bottom: 0;
    margin-top: 0;
}

#menu h1 {
    border-right: solid #dde1e2 1px;
    font-size: 28px;
    padding-left: 10px;
    padding-right: 20px;
}

#menu a {
    border-right: solid #dde1e2 1px;
    color: #585858;
    cursor: pointer;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 20px;
}

#menu a:hover {
    color: black;
}

#add-list {
    color: #585858;
    cursor: pointer;
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
}

#add-list:hover {
    color: black;
}

#btn-container {
    align-items: center;
    background-color: #F4FDFF;
    border-radius: 15px;
    box-shadow:
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    height: 50px;
    justify-content: space-around;
    margin-right: 35px;
    padding: 15px;
    width: 120px;
}

#btn-container button {
    background-color: #e7e7e7;
    border: solid black 1px;
    border-radius: 100px;
    color: black;
    cursor: pointer;
    font-size: 18px;
    height: 45px;
    width: 45px;
}

#btn-container button:hover {
    background-color: #a2a2a2;
}

#settings-page {
    align-items: center;
    background-color: #F4FDFF;
    border-radius: 15px;
    box-shadow:
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    height: 400px;
    justify-content: center;
    width: 500px;
}

#settings-page button {
    background-color: #a2a2a2;
    border: none;
    border-radius: 15px;
    cursor:pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 5px;
    width: 150px;
}

#settings-page button:hover {
    background-color:#585858;
}

#content {
    align-items: start;
    display: flex;
    height: 650px;
    overflow: hidden;
    padding-top: 35px;
    width: 435px;
}

.column {
    background-color: #F4FDFF;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow:
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    flex: 0 0 auto;
    margin-right: 35px;
    padding: 32px;
    padding-bottom: 20px;
    width: 400px;
}

#content:last-child {
    margin-right: 0px;
}

.column h2 {
    font-size: 24px;
}

.delete-list {
    color: red;
    cursor: pointer;
}

.rename-list {
    color: #585858;
    cursor: pointer;
}

.add-list-item {
    border: solid black 1px;
    border-radius: 5px;
    color: #585858;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    margin-top: 20px;
    width: 30px;
}

.add-list-item:hover {
    color: black;
}

.todo {
    border: solid #dde1e2 1px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}

.todo:hover {
    background-color: #dde1e2;
    border-color: black;
}

.todo * {
    margin-bottom: 0;
    margin-top: 0;
}

.todo-done {
    color: #a2a2a2;
}

.todo-done h3 {
    text-decoration: line-through;
}

.bg-grey {
    color: #a2a2a2;
}

.space-between-center {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 10px;
}

.space-between-center h2, button {
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.todo .space-between-center button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    height: 30px;
    width: 30px;
}

.todo-desc {
    margin-left: 10px;
    margin-right: 10px;
}

.todo-desc .space-between-center {
    margin-left: 0;
    margin-right: 0;
}

.display-none {
    display: none;
}

dialog {
    border: none;
    border-radius: 10px;
    height: 320px;
    padding: 25px;
    width: 300px;
}

dialog::backdrop {
    backdrop-filter: blur(10px);
}

form * {
    display: block;
    margin: 5px;
}

form input {
    border: solid #dde1e2 2px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    height: 24px;
    margin-top: 10px;
    padding: 2px;
}

form input:focus {
    border: solid black 2px;
    outline: none;
}

form input[type="submit"] {
    display: inline-block;
    height: 35px;
} 

form label {
    display: inline-block;
    font-size: 20px;
}

form select {
    display: inline-block;
    font-size: 18px;
}

body {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btn-container {
    margin-bottom: -20px;
    margin-top: 10px;
}

#top-bar {
    align-items: start;
    flex-direction: column;
}

#top-bar h1 {
    display: none;
}

@media only screen and (min-width: 600px) {
    body {
        display: block;
        padding: 2rem;
        padding-top: 1rem;
    }
    #content {
        width: 435px;
    }
    #top-bar {
        align-items: center;
        flex-direction: row;
        width: 435px
    }
    #btn-container {
        margin: 0;
        margin-right: 35px;
    }
}

@media only screen and (min-width: 890px) {
    #top-bar h1 {
        display: block;
    }
    body {
        padding: 3rem;
        padding-top: 2rem;
    }
    #content {
        width: 870px;
    }
    #top-bar {
        width: 870px
    }
}

@media only screen and (min-width: 1335px) {
    body {
        padding: 4rem;
        padding-top: 2rem;
    }
    #content {
        width: 1305px;
    }
    #top-bar {
        width: 1305px
    }
}

@media only screen and (min-width: 1780px) {
    body {
        padding: 5rem;
        padding-top: 2rem;
    }
    #content {
        width: 1740px;
    }
    #top-bar {
        width: 1740px
    }
}